body{
  background-image: url(saiforadinovo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  

}

.header{
background-color: rgba(0, 0, 0, 0.5);
margin:top;
height: 120px;
font-family: Brush Script MT, Brush Script Std, cursive;
align-items: center;
display: flex;
justify-content: center;
font-size: 85px;
text-shadow: 2px 2px 4px rgb(0, 0, 0);
  
  color: rgb(151, 0, 0);
  
}

  


.vey{
background-color: rgba(0, 0, 0, 0.5);
  


 margin: center;
display: block;
 height: 120px;

 
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

li {
padding: 0;
}

li a {
text-decoration: none; 
background-color: transparent;
}




.vey1:hover {

box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
cursor: pointer;
}
.vey2:hover {

box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
cursor: pointer;
}
.vey3:hover {

box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
cursor: pointer;
}

.vey1:active {
background-color: #222;
}
.vey2:active {
background-color: #222;
}
.vey3:active {
background-color: #222;
}





nav {
  background-color: #0900001c;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.menu li {
  display: inline-block;
}

ul.menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 60px;
  margin: 0 10px;
}







.par2{
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
 
}

#cabeza{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: rgb(42, 43, 43);
}
#alu{
  font-weight: bold;
  background-color: rgb(18, 18, 18);
  color: #ffffff;
}
#nota{
  background-color: rgb(18, 18, 18);
  color: #ffffff;
}
#final{
  font-weight: bolder;
  background-color: red;
  
}
.mesa{
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  height: 35%;
  
}

  
  

#trhe{
  color: #ffffff;
  background-color: #3c1313;
}
.pai{
  display: flex;
  position: relative;
}
.hist{
  background-image: url(grimorio-codex-vimur-wicca.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   border-radius: 50%;
    top: 100px;
    width: 400px;
    height: 400px;
    color: #ffffff;
}
.texthist{
  color: #ffffff;
    width: 700px;
    height: 500px;
    font-size: 20px;

}
.guri{
  border: 1px solid #000;
    padding: 10px;
    display: inline-block;
}

