body{
    background-image: url(pexels-photo-3772353.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    

}

.header{
  background-color: rgba(0, 0, 0, 0.5);
  margin:top;
  height: 120px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 85px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
    
    color: rgb(151, 0, 0);
    
}

    


.vey{
  background-color: rgba(0, 0, 0, 0.5);
    

  
   margin: center;
display: block;
   height: 120px;

   
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
}

li a {
  text-decoration: none; 
  background-color: transparent;
}




.vey1:hover {
  
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.vey2:hover {
 
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.vey3:hover {
  
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.vey1:active {
  background-color: #222;
}
.vey2:active {
  background-color: #222;
}
.vey3:active {
  background-color: #222;
}





nav {
    background-color: #0900001c;
  }
  
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  ul.menu li {
    display: inline-block;
  }
  
  ul.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 60px;
    margin: 0 10px;
  }
  
 
  
  .hist{
    background-image: url(bixoskin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 100px;
    top: 500px;
    width: 480px;
    height: 480px;
    color: #ffffff;
    border-radius: 20%;
  }
  .texthist{
    color: #ffffff;
    width: 450px;
    height: 500px;
    font-size: 20px;
  }
  
  .pai{
    display: flex;
  }


  .footer {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    bottom: 0;
    align-items: center;
    text-align: center;
    text-size-adjust: 50px;
    color: #ffffff;
    width: 100%; 
    height: 100px;
  
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    
    
  }
  
  
  
.alow{
  background-image: url(essetaba.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  top: 500px;
  width: 480px;
  height: 480px;
  border-radius: 20%;
  



    
}
.pai2{
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
